@import "tailwindcss";

@layer base {
  body {
    @apply bg-gray-950 text-white;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: #4b5563 #1f2937;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #1f2937;
}

*::-webkit-scrollbar-thumb {
  background-color: #4b5563;
  border-radius: 20px;
}

/* Hide scrollbar for genre filter */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
